<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <mapping class="com.igmingo.empleados.modelo.Proyecto"/>
    <mapping class="com.igmingo.empleados.modelo.EmpleadoProyecto"/>
    <mapping class="com.igmingo.empleados.modelo.Departamento"/>
    <mapping class="com.igmingo.empleados.modelo.Puesto"/>
    <mapping class="com.igmingo.empleados.modelo.Empleado"/>
    <mapping class="com.igmingo.empleados.modelo.EmpleadoProyectoId"/>
    <mapping class="com.igmingo.empleados.modelo.Idioma"/>
  </session-factory>
</hibernate-configuration>
